{% extends 'base.html.twig' %}

{% block title %}Caméras disponibles{% endblock %}

{% block body %}

    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">CAMERAS A LOUER</h2>
                <p class="text-center">Les caméras du moment</p>
            </div>
            <div class="row justify-content-center features">

             {% for camera in cameras %}
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <a href="{{ path('annonce_show', {'slug': camera.slug}) }}" style="text-decoration: none">
                           <div class="box">
                               <h3 class="name">{{ camera.marque }}</h3>
                               <h3 class="name">{{ camera.modele }}</h3>
                               <img style="max-width: 10em; max-height: 15em" src="{{ camera.image }}" alt="">
                               <p class="description">{{ camera.description }}</p>
                               <p class="description">
                                    {{ camera.prix }} <span>€/jour</span>
                               </p>
                               <p class="description"><span>Louée par</span></p>
                            </div>
                        </a>
                    </div>
             {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}